<div class="col-lg-12">
    <nb-card>
      <nb-card-header *ngIf="modoCreacion">
        CREAR PROVEEDOR
      </nb-card-header>
      <nb-card-header *ngIf="!modoCreacion">
        ACTUALIZAR PROVEEDOR
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-3">
            <label>Nit</label>
          </div>
          <div class="col-9">
            <input class="form-control" type="text" [disabled]="!modoCreacion" [(ngModel)]="elProveedor.nit">
            <p *ngIf="intentoEnvio && elProveedor.nit">Requerido</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-3">
            <label>Nombre</label>
          </div>
          <div class="col-9">
            <input class="form-control" type="text" [(ngModel)]="elProveedor.nombre">
            <p *ngIf="intentoEnvio && elProveedor.nombre">Requerido</p>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
              <label>Direccion</label>
            </div>
            <div class="col-9">
              <input class="form-control" type="text" [(ngModel)]="elProveedor.direccion">
              <p *ngIf="intentoEnvio && elProveedor.direccion">Requerido</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
              <label>Telefono</label>
            </div>
            <div class="col-9">
              <input class="form-control" type="text" [(ngModel)]="elProveedor.telefono">
              <p *ngIf="intentoEnvio && elProveedor.telefono">Requerido</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
              <label>Correo</label>
            </div>
            <div class="col-9">
              <input class="form-control" type="email" [(ngModel)]="elProveedor.correo">
              <p *ngIf="intentoEnvio && elProveedor.correo">Requerido</p>
            </div>
            <div *ngIf="intentoEnvio && elProveedor.correo && !correoValido(elProveedor.correo)">
              <small class="text-danger">Debe ser un correo electrónico válido.</small>
            </div>
        </div>
        <br>
        <div class="row">
          <button *ngIf="modoCreacion" class="btn btn-primary btn-block" (click)="agregar()">
            Crear
          </button>
          <button *ngIf="!modoCreacion" class="btn btn-primary btn-block" (click)="editar()">
            Actualizar
          </button>
          <button class="btn btn-danger btn-block" [routerLink]="['/pages/proveedor/listar-proveedores']">
            Cancelar
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  

